* {
    margin: 0;
    padding: 0;
    font-family: fantasy;
}

#home {
    height: 100px;
    width: 100px;
}

a {
  text-decoration: none;
}

#title {
    text-align: center;
    padding-bottom: 5%;
    text-decoration: none;
    color: #690908;
}

.tab {
  margin: 0 auto;
}


th, td {
  padding: 15px;
  text-align: left;
}

.show {
  max-width: 500px;
  max-height: 500px;
}

.show:hover {
  max-width: 550px;
  max-height: 550px;
  box-shadow: 2px 2px 4px #000000;
}


.Container {
width: 250px;
height: 250px;
background: none;
perspective: 800px;
}

.Card {
width: 100%;
height: 100%;
transform-style: preserve-3d;
transition: all 0.8s ease;
border: 1px solid black;
backface-visibility: hidden;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.Card:hover {
transform: scale(1.1);
}

.Card.flipped {
transform: rotateY(180deg);
}

.front {
position: absolute;
width: 100%;
height: 100%;
background: transparent;
backface-visibility: hidden;
overflow: hidden;
-webkit-backface-visibility: hidden;
background-size: 190px;
background-repeat: no-repeat;
background-position: bottom;
}

#face1 {
  background-image: url("ShopPhotos/set_of_headphone_elements_vector_521726/headphone_02.jpg");
}

#face2 {
  background-image: url("ShopPhotos/impossible-701686_1920.jpg");
}

#face3 {
  background-image: url("ShopPhotos/sun-47083_1280.png");
}

#face4 {
  background-image: url("ShopPhotos/gold-158496_1280.png");
}

#face5 {
  background-image: url("ShopPhotos/bird-2724144_1280.png");
}

#face6 {
  background-image: url("ShopPhotos/ticket-306087_1280.png");
}

.front2 {
position: absolute;
width: 100%;
height: 100%;
background: transparent;
backface-visibility: hidden;
overflow: hidden;
-webkit-backface-visibility: hidden;
background-size: 190px;
background-repeat: no-repeat;
background-position: bottom;
}

.back2 {
position: absolute;
width: 100%;
height: 100%;
backface-visibility: hidden;
background: transparent;
transform: rotateY(180deg);
overflow: hidden;
-webkit-backface-visibility: hidden;
background-image: linear-gradient(#BA8986,#EFE4DA);
}

.back {
position: absolute;
width: 100%;
height: 100%;
backface-visibility: hidden;
background: transparent;
transform: rotateY(180deg);
overflow: hidden;
-webkit-backface-visibility: hidden;
background-image: linear-gradient(#BA8986,#EFE4DA);
}

.Buy {
padding: 12px 28px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 14px;
background-color: gold;
border-radius: 10%;
margin: 0;
position: absolute;
max-width: 100px;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
transition-duration: 0.4s;
}

.Buy:hover {
background-color: white;;
} 

.Buy {
top: 65%;
left: 30%;

}

.description {
text-align: center;
padding-top: 30px;

}

#footer {
background-image: url("Pictures/Background_.png");
height: 10%;
/* The bottom four is how I fixed floating footer*/
position: absolute; 
bottom: 0; 
left: 0; 
right: 0;
}

#head1 {
background-image: linear-gradient(#BA8986,#EFE4DA);
height: 20%;
text-align: center;
padding-top: 5%;
color: black;
}

#head2 {
background-image: linear-gradient(#BA8986,#EFE4DA);
height: 20%;
text-align: center;
padding-top: 5%;
color: black;
}
